<div class="comment">
    <label class="comment-author">Author:</label>
    <a href="#/profiles/{{this.user.username}}">{{this.user.username}}</a><br />
    <label class="comment-text">Text:</label>
    <span>{{this.text}}</span><br /> 
</div>