extends ../base
block content
    h1 Login page
    form(action="/auth/login" method="post")
        h4 Sign In
            br
            input.form-control(type="text" id="tb-username" placeholder="Usename" name="username" class="form-control")
            br
            input.form-control(type="password" id="tb-password" placeholder="Password" name="password" class="form-control")
            br
        input(type="submit" value="Login" class="btn btn-success")