h2 My profile page
ul
    li
        a(href="user/add-superhero") Add New Superhero
    li
        a(href="user/show-favorites") Show Favorites
    li
        a(href="user/add-to-favorites") Add Superhero To Favorites
