<h3 class="form-login-register" id="login-register-form-header">Login/Register Form</h3>
<input placeholder="Username" class="form-login-register form-control" id="tb-username"/>
<input placeholder="Password" type="password" class="form-login-register form-control" id="tb-password"/>
<button id="btn-login" class="form-login-register btn btn-success">Login</button>
<button id="btn-register" class="form-login-register btn btn-success">Register</button>