<h3 class="form-login" id="login-form-header">Login Form</h3>
<input placeholder="Username" class="form-login form-control" id="tb-username"/>
<input placeholder="Password" type="password" class="form-login form-control" id="tb-password"/>
<button id="btn-login" class="form-login btn btn-success">Login</button>