<h3 class="form-register">Register Form</h3>
<input placeholder="Username" class="form-register form-control" id="tb-newUsername"/>
<input placeholder="Password" type="password" class="form-register form-control" id="tb-newPassword"/>
<button id="btn-register" class="form-register btn btn-success">Register</button>