extends ../base
block content
    h1 All superheroes
    each val in superheroes
        div
            span Name: #{val.name}
            br
            span Secret identity: #{val.secretIdentity}
            br
            span Story: #{val.story}
            br
            img(src=""+val.imageUrl width="250" height="250")
        br