extends ../base

block content
    h1 #{model.content}
        h5 malko, no avtorsko
    ul
        li
            a(href="/all-superheroes") List All Superheroes
    if user    
        include ../user/profile