
@{
    ViewBag.Title = "Index";
}

<h2>Calculator</h2>
<form method="post">
    <div>
        First number:
        <input type="text" name="firstNumber" value="@ViewBag.firstNumber" />
        <hr />
        Second number:
        <input type="text" name="secondNumber" value="@ViewBag.secondNumber" />
        <hr />
        <input type="submit" value="Sum" />
        Result: <input value="@ViewBag.result" />
    </div>
</form>


